@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Rubik', sans-serif;
}


body{
    background: pink;
}
.start_btn, 
.info_box,
.quiz_box,
.result_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 4px 8px 0 rgba(0,0,0,0.2),
                0px 4px 20px 0 rgba(0,0,0,0.19);
}

/* Start Button */
.start_btn button{
    font-size: 25px;
    font-weight: 500;
    color: pink;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background: #fff;

}
.info_box{
    width: 540px;
    background: #fff;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}

.info_box .info_title{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 30px;
    font-size: 25px;
    font-weight: 600;
}

.info_box .info_list{
    padding: 15px 35px;
}
.info_box .info_list .info{
    margin: 5px 0;
    font-size: 18px;

}
.info_box .info_list .info span{
    font-weight: 600;
    color: pink;
}
.info_box .buttons{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 35px;
    height: 60px;
    border-top: 1px solid lightgray;
}
.info_box .buttons button{
    margin: 0 5px;
    height: 40px;
    width: 100px;
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

.buttons button.quit_btn{
    color: rgb(231, 119, 138);
}
.buttons button.restart_btn:hover{
    background: rgb(236, 172, 183);
    color: #fff;
}

.buttons button.quit_btn:hover{
    background: rgb(231, 119, 138);
    color: #fff;
}

.buttons button.restart_btn{
    background: rgb(231, 119, 138);
    color: #fff;
}

.quiz_box{
    width: 550px;
    background: #fff;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}
.quiz_box header{
    position: relative;
    z-index: 99;
    height: 70px;
    background: #fff;
    display: flex;
    align-items: center;
    padding: 0 30px;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.quiz_box header .title{
    font-size: 25px;
    font-weight: 600;
    color: pink;
}
.quiz_box header .timer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 180px;
    height: 45px;
    background: pink;
    border-radius: 5px;
    border: 1px solid rgb(236, 172, 183);
    padding: 0 8px;
}
.quiz_box header .timer .time_left_txt{
    font-size: 18px;
    font-weight: 500;
}
.quiz_box header .timer .timer_sec{
    font-size: 18px;
    font-weight: 500;
    background: rgba(81, 72, 72, 0.764);
    height: 30px;
    width: 45px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(236, 172, 183);
    user-select: none;
}
.quiz_box section{
    padding: 25px 30px 20px 30px;
}
.quiz_box section .que_text{
    font-size: 25px;
    font-weight: 600;
}

.quiz_box section .option_list{
    padding: 20px 0;
    display: block;

}
section .option_list .option{
    background: rgb(255, 240, 242);
    border: 1px solid rgb(236, 172, 183);
    border-radius: 5px;
    padding: 8px 15px;
    margin-bottom: 15px;
    font-size: 17px;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease;
    display: flex;
}
section .option_list .option:hover{
    background: rgb(242, 164, 177);
    color: #fff;
    border-color: rgb(236, 172, 183);
    
}
.option_list .option:last-child{
    margin-bottom: 0;
}
.option_list .option .icon{
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    font-size: 13px;
    pointer-events: none;
}
.option_list .option .icon.tick{
    border-color: rgb(98, 234, 161);
    color: rgb(98, 234, 161);
    background: rgb(216, 255, 234);
}
.option_list .option .icon.cross{
    border-color: rgb(255, 100, 100);
    color: rgb(255, 100, 100);
    background: rgb(255, 218, 218);
}
.quiz_box footer{
    height: 60px;
    width: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    border-top: 1px solid lightgray;
}
.quiz_box footer .total_que span{
    user-select: none;
    display: flex;
}
footer .total_que span p{
    font-weight: 600;
    padding: 0px 5px;
}
.total_que span p:first-child{
    padding-left: 0px;
}

footer .next_btn{
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    border: none;
    outline: none;
    color: #fff;
    background: rgb(248, 151, 167);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

footer .next_btn:hover{
    background: rgb(255, 187, 198);
}
.result_box{
    background: #fff;
    width: 450px;
    padding: 25px 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);

}
.result_box .complete_text{
    font-size: 25px;
    font-weight: 500;
}
.result_box .score_text span{
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}
.result_box .icon{
    font-size: 100px;
    color:rgb(237, 145, 161);
}
.score_text span p{
    font-weight: 600;
    padding: 0px 4px;
}
.result_box .buttons{
    display: flex;
    margin: 20px 0;
}
.result_box .buttons button{
    margin: 0 10px;
    height: 40px;
    padding: 0 20px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 1px solid rgb(255, 169, 184);
}